# CodeIgniter Environment
CI_ENVIRONMENT = development

# Base URL
app.baseURL = 'http://localhost:8080/'

# Database (Production on Ouvaton)
database.default.hostname = localhost
database.default.database = kermesse_prod
database.default.username = user
database.default.password = secret
database.default.DBDriver = MySQLi
database.default.DBPrefix =

# Ops Security
OPS_HMAC_SECRET = 'change_me_to_a_secure_random_string'

# Mail
email.fromEmail = no-reply@kermesse.test
email.fromName  = Kermesse
