# Disable directory browsing
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On

	# Propagate HTTPS from Ouvaton's SSL proxy to PHP.
	# Ouvaton terminates SSL before Apache and does not set $_SERVER['HTTPS'];
	# these rules map the common proxy HTTPS signals to that variable so
	# CodeIgniter's isSecure() returns true and the forcehttps filter does
	# not redirect infinitely. Each RewriteCond/RewriteRule pair is independent.
	RewriteCond %{HTTP:X-Forwarded-Proto} ^https$ [NC]
	RewriteRule ^ - [E=HTTPS:on]

	RewriteCond %{HTTP:X-Forwarded-SSL} ^on$ [NC]
	RewriteRule ^ - [E=HTTPS:on]

	RewriteCond %{HTTP:X-Forwarded-Scheme} ^https$ [NC]
	RewriteRule ^ - [E=HTTPS:on]

	RewriteCond %{HTTP:Front-End-Https} ^on$ [NC]
	RewriteRule ^ - [E=HTTPS:on]

	# If you installed CodeIgniter in a subfolder, you will need to
	# change the following line to match the subfolder you need.
	# http://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewritebase
	# RewriteBase /

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	# Rewrite "www.example.com -> example.com"
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

	# Checks to see if the user is attempting to access a valid file,
	# such as an image or css document, if this isn't true it sends the
	# request to the front controller, index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

	# Ensure Authorization header is passed along
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# Ensure custom HMAC headers are passed to CodeIgniter
	RewriteCond %{HTTP:X-Kermesse-Timestamp} .
	RewriteRule .* - [E=HTTP_X_KERMESSE_TIMESTAMP:%{HTTP:X-Kermesse-Timestamp}]
	
	RewriteCond %{HTTP:X-Kermesse-Nonce} .
	RewriteRule .* - [E=HTTP_X_KERMESSE_NONCE:%{HTTP:X-Kermesse-Nonce}]
	
	RewriteCond %{HTTP:X-Kermesse-Signature} .
	RewriteRule .* - [E=HTTP_X_KERMESSE_SIGNATURE:%{HTTP:X-Kermesse-Signature}]
</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
</IfModule>

# Disable server signature start
ServerSignature Off
# Disable server signature end
